<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="bas.droid.core">

    <application>

        <!--配置FileProvider支持-->
        <provider
            android:name="bas.droid.core.content.FileProviderCompat"
            android:authorities="${applicationId}.FileProviderCompat"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_compat_files_path_bas" />
        </provider>

    </application>
</manifest>